* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
@media screen and (max-width:768px){
  nav{
    .nav-icons{
      margin-left:-10px;
    }
    .nav-buttons{
      margin-right:-25px;
    }
  }
}
header{
  background-color: ghostwhite;
}
.nav-icons{
  margin-left:4%;
}
.nav-buttons{
  margin-right:4%;
}


.left,.center,.right {
  height: 90vh;
}

.left {

  background-color: transparent;

}


.right {
  .list-group-flush {
    li:not(:first-child) {
      margin-left: 5%;
      &:hover {
        color: blue;
      }
    }
  }
}

.left,
.right {
  display: none;
}
.header {
  

  width: 100vw;
  z-index: 100;
}
.not-header {
  margin-top: 0vh;
  @media (min-width: 576px) { 
    margin-top: 7vh;
  }
}

.right {
  div.list-group:last-of-type {
    margin-bottom: 10%;
  }

}
.foto{
  border-radius: 50%;
}


/*ASIDE IZQUIERDO*/

.pl-10 {
  padding-left: 5% !important;
}
.pr-10 {
  padding-right: 5% !important;
}
.oscar{
  min-width: 300px;
}

.crv-menupost{
  margin-top: 10px;
   visibility: hidden;
   @media (min-width: 576px) { 
    visibility: visible;
    p{
      font-weight: bold;
    }
  }
 .crv-itemmenu{
    display: flex;
    justify-content:space-around;
    width: 100%;
    div{
      a{
        font-size: 12px;
        color: black;
        font-weight: 200;
      }
    a:hover {
       font-weight: 500;
    }
  
  
 }
}
}

.crv-menumovil{
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content:space-between;
  p{
    margin-bottom: 8px;
   
    font-size: 1.5rem;
  }
  .dropdown{
    background: white; 
    button{
     
      padding: 6px 11px;
      border-radius: 4px;
      border:0.5px solid#64707D;;
    }
  }
  @media (min-width: 576px) { 
    visibility: hidden;
    height: 0px;
  }
}

.crv-encabezado{
  
  padding-left: 0px;
  color: #08090A;
  
  @media (min-width: 576px) { 
    padding-left:45px;
    color: #08090A;
   
   }
   .crv-encabezadodetalle{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    @media (min-width: 576px) { 
      font-size: 25px;
     }
   }
   a{
    color: #64707D;

    padding-right: 10px;
    font-size: 12px;
   }
   p:hover {
    color: blue;
    cursor: pointer;
   }
   
  
}




.card-body{
    
    .d-flex{
      height: 35px;
      .foto{
        border-radius: 100%;
        width: 35px;
        cursor: pointer;
        
      }
      .name{
        cursor: pointer;
      }
      h5{
        font-weight: 300;
        color: #64707D;
      }
      p{
        font-size: 10px;
        color: #64707D;
       
      }
    }
}



.crv-footer{
  width: 100%;
  margin-top: 20px;
  margin-right: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;

  @media (min-width: 576px) { 
    margin-left: 37px;
  }

  .crv-reactions{

    display: flex;
    padding-right: 5px;
    padding-left: 0px;

    justify-content:start;
    @media (min-width: 576px) { 
      justify-content:flex-end;
      padding-right: 25px;
    }


    .p-reactions{
      visibility:hidden;
      
      @media (min-width: 576px) { 
       visibility:visible;
       padding-left: 5px;
      
       }
      
    }
    
  }
  .crv-reactions:hover{

    cursor: pointer;
  }

  .crv-comments{
    display: flex;
    .p-comment{
      padding-left: 5px;
      visibility:hidden;
      color: #64707D;
      @media (min-width: 576px) { 
        visibility:visible;
        padding-left: 5px;
        color: #64707D;
        }
    }
  }

  .crv-comments:hover{
   
    cursor: pointer;
  }
  .crv-time{
    
    display: flex;
    justify-content:flex-end;
    color: #64707D;
    padding-right: 5px;
  }
  .crv-button{
  
    display: flex;
    justify-content:start;
    padding-left: 0;
   button{
    background: #D2D6DB;
    color: black;
    height: 30px;
    padding-bottom: 11px;
    padding-top: 0;
    border: 0px;

   }
  }
  
}


.aside-izquierdo
{
  $color-azul: #3b49df;  
  $color-gris: #4d5760;    
  $color-boton-azul-hover: #323ebe;
  $color-gris-letra:#202428;

  .color-blue {
    color: $color-azul;    
  }
 

  /* inicio:  styles del la carta 1   */
  .carta-titulo {
    font-size: 1.13rem;
  }

  .carta-parrafo{
    color: $color-gris;
    font-size: 1rem;    
  }

  .btn-primary{
    background-color: $color-azul;
    border: $color-azul;
    width: 100%;       
  }

  .liga{
    display: block;    
    border-radius: 5px;
    color: $color-azul;
    margin-top: 1rem;  
    padding: 0.3rem  0;
  }
  

  a:hover {

    &.tipo-boton{
      background-color:$color-boton-azul-hover;
    }
    &.tipo-liga{
      background-color:rgba(0, 0, 0, 0.035);
    }
  }

   /* fin carta 1 aside izquierdo*/




   /* inicio carta 3 aside izquierdo */



    .popular-tags-title
    {

        font-weight: bold;
        font-size: 1.2rem;
    }


    .popular-list{

        max-height: 350px;               
        overflow-y:scroll;   

          
          a.hijo-lista-boton{
            opacity: 0%;
          }
          a.hijo-lista-boton:hover{
              opacity: 100%; 
              background-color:  $color-boton-azul-hover;

           }      

          a.hijo-lista-link{
            font-size: 1.0rem;
            color: black;        
            flex-grow: 1;
          }


          a.hijo-lista-link:hover{
            text-decoration: none;
            color: $color-boton-azul-hover; 
            /* background-color: rgba(8, 9, 10, 0.05); */

            
          }
          
          a.hijo-lista-link:hover + a {
            opacity: 100%; 
            background-color:  $color-azul;
          }


          .padre-list-items{

            display:flex;
            flex-direction: row;
            justify-content: space-between;
          }

          
          .list-group-item{

            height: 4rem;
          }

          /*
          .list-group-item:hover {
            background-color: red;
          }
          */
  
   }   /* fin de popular list*/

   /*  fin carta 3 aside izquierdo */



      /*  inicio carta 3 aside izquierdo */
      .card-formato-shop{   
       

        display: block;
        font-size: 1.4em;
        font-weight: bold;      
        color:#3b49df;   

        

      }  /*  fin carta 3 aside izquierdo */


      

.menu-link-hover
{

    color:$color-gris;


    button,li{
      display: flex;
      padding-right: 0;
      padding-left: 0;


    }

    a{
      color:$color-gris-letra;
      font-size: 1.0rem;       
      flex-grow: 1;

        &.sign-in{ 
          font-size: 1.0em;
          font-weight: bold;   
          color: #08090A; 
        }
   
    } 

    a:hover{
      text-decoration: none;
      color: $color-azul; 
      
    }
    div{
      
      padding-left: 1rem;
      padding-right: 0.4rem;
      
    }

    label
    {
      color:red;
    }

   

}







}  /* fin del aside izquierdo*/

.oscar{
  min-width: 300px;
}


/*
.padre:hover{
  a:last-child{
    opacity: 100%;
    background-color: red ;

    :hover{
      background-color: yellow ;
    }


  }
}        
*/

.toggle:active {

  display: none;

}

