* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.left,
.center,
.right {
  height: 90vh;
}

.left {
  background-color: transparent;
}

.right .list-group-flush li:not(:first-child) {
  margin-left: 5%;
}
.right .list-group-flush li:not(:first-child):hover {
  color: blue;
}

.left,
.right {
  display: none;
}

.header {
  width: 100vw;
  z-index: 100;
}

.not-header {
  margin-top: 10vh;
}

.right div.list-group:last-of-type {
  margin-bottom: 10%;
}

.foto {
  border-radius: 50%;
}

/*ASIDE IZQUIERDO*/
.pl-10 {
  padding-left: 5% !important;
}

.pr-10 {
  padding-right: 5% !important;
}

.oscar {
  min-width: 300px;
}

.crv-menupost {
  margin-top: 4px;
}
.crv-menupost .crv-itemmenu {
  visibility: hidden;
}
@media (min-width: 576px) {
  .crv-menupost .crv-itemmenu {
    visibility: visible;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .crv-menupost .crv-itemmenu div a {
    font-size: 12px;
    color: black;
    font-weight: 200;
  }
  .crv-menupost .crv-itemmenu div a:hover {
    font-weight: 500;
  }
}

.crv-encabezado {
  padding-left: 0px;
  color: #08090A;
}
@media (min-width: 576px) {
  .crv-encabezado {
    padding-left: 45px;
    color: #08090A;
  }
}
.crv-encabezado .crv-encabezadodetalle {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px;
}
@media (min-width: 576px) {
  .crv-encabezado .crv-encabezadodetalle {
    font-size: 25px;
  }
}
.crv-encabezado a {
  color: #64707D;
  padding-right: 10px;
  font-size: 12px;
}

.card-body .d-flex .foto {
  border-radius: 100%;
  width: 35px;
}
.card-body .d-flex h5 {
  font-weight: 300;
  color: #64707D;
}
.card-body .d-flex p {
  font-size: 10px;
  color: #64707D;
}

.crv-footer {
  width: 100%;
  margin-top: 20px;
  margin-right: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
}
.crv-footer .crv-reactions {
  display: flex;
  padding-right: 5px;
  padding-left: 0px;
  justify-content: start;
}
@media (min-width: 576px) {
  .crv-footer .crv-reactions {
    justify-content: flex-end;
    padding-right: 25px;
  }
}
.crv-footer .crv-reactions .p-reactions {
  visibility: hidden;
  color: #64707D;
}
@media (min-width: 576px) {
  .crv-footer .crv-reactions .p-reactions {
    visibility: visible;
    padding-left: 5px;
    color: #64707D;
  }
}
.crv-footer .crv-comments {
  display: flex;
}
.crv-footer .crv-comments .p-comment {
  padding-left: 5px;
  visibility: hidden;
  color: #64707D;
}
@media (min-width: 576px) {
  .crv-footer .crv-comments .p-comment {
    visibility: visible;
    padding-left: 5px;
    color: #64707D;
  }
}
.crv-footer .crv-time {
  display: flex;
  justify-content: flex-end;
  color: #64707D;
  padding-right: 5px;
}
.crv-footer .crv-button {
  display: flex;
  justify-content: start;
  padding-left: 0;
}
.crv-footer .crv-button button {
  background: #D2D6DB;
  color: black;
  height: 30px;
  padding-bottom: 11px;
  padding-top: 0;
  border: 0px;
}

.aside-izquierdo {
  /* inicio:  styles del la carta 1   */
  /* fin carta 1 aside izquierdo*/
  /* inicio carta 3 aside izquierdo */
  /* fin de popular list*/
  /*  fin carta 3 aside izquierdo */
}
.aside-izquierdo .color-blue {
  color: #3b49df;
}
.aside-izquierdo .carta-titulo {
  font-size: 1.13rem;
}
.aside-izquierdo .carta-parrafo {
  color: #4d5760;
  font-size: 1rem;
}
.aside-izquierdo .btn-primary {
  background-color: #3b49df;
  border: #3b49df;
  width: 100%;
}
.aside-izquierdo .liga {
  display: block;
  border-radius: 5px;
  color: #3b49df;
  margin-top: 1rem;
  padding: 0.3rem 0;
}
.aside-izquierdo a:hover.tipo-boton {
  background-color: #323ebe;
}
.aside-izquierdo a:hover.tipo-liga {
  background-color: rgba(0, 0, 0, 0.035);
}
.aside-izquierdo .popular-list {
  max-height: 250px;
  overflow-y: scroll;
}
.aside-izquierdo .popular-list a.ocultar {
  opacity: 0%;
}
.aside-izquierdo .popular-list a.ocultar:hover {
  opacity: 100%;
  background-color: #323ebe;
}
.aside-izquierdo .popular-list a.liga-popular {
  font-size: 1.2rem;
  color: black;
}
.aside-izquierdo .popular-list a.liga-popular:hover {
  text-decoration: none;
  color: #323ebe;
  /* background-color: rgba(8, 9, 10, 0.05); */
}

/* fin del aside izquierdo*/
.padre:hover a:last-child {
  opacity: 100%;
}/*# sourceMappingURL=styles.css.map */