* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
.left,
.center,
.right {
  height: 90vh;
}

.left {

  background-color: transparent;

}
.right {
  .list-group-flush {
    li:not(:first-child) {
      margin-left: 5%;
      &:hover {
        color: blue;
      }
    }
  }
}
.center {
  background-color: green;
}
.left,
.right {
  display: none;
}
.header {
  height: 10vh;

  width: 100vw;
  z-index: 100;
}
.not-header {
  margin-top: 10vh;
}

.right {
  div.list-group:last-of-type {
    margin-bottom: 10%;
  }

}
.foto{
  border-radius: 50%;
}


/*ASIDE IZQUIERDO*/

.pl-10 {
  padding-left: 10rem !important;
}
.pr-10 {
  padding-right: 10rem !important;
}

.crv-encabezado{
  margin-left: 45px;
  @media (min-width: 576px) { 
    margin-left:0px;
   }
  
}
.crv-encabezadodetalle{
  font-size: 25px;
  font-weight: bold;
  @media (min-width: 576px) { 
    font-size: 20px;
   }

}
.foto{
  border-radius: 100%;
                width: 35px;
}

.aside-izquierdo
{
  $color-azul: #3b49df;  
  $color-gris: #4d5760;    
  $color-boton-azul-hover: #323ebe;

  .color-blue {
    color: $color-azul;    
  }
 
  .carta-titulo {
    font-size: 1.13rem;
  }

  .carta-parrafo{
    color: $color-gris;
    font-size: 1rem;    
  }

  .btn-primary{
    background-color: $color-azul;
    border: $color-azul;
    width: 100%;       
  }

  .liga{
    display: block;    
    border-radius: 5px;
    color: $color-azul;
    margin-top: 1rem;  
    padding: 0.3rem  0;
  }
  
  a:hover {

    &.tipo-boton{
      background-color:$color-boton-azul-hover;
    }
    &.tipo-liga{
      background-color:rgba(0, 0, 0, 0.035);
    }
  }



  


}



