* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
.left,
.center,
.right {
  height: 90vh;
}

.left {

  background-color: transparent;

}
.right {
  .list-group-flush {
    li:not(:first-child) {
      margin-left: 5%;
      &:hover {
        color: blue;
      }
    }
  }
}
.center {
  background-color: green;
}
.left,
.right {
  display: none;
}
.header {
  height: 10vh;

  width: 100vw;
  z-index: 100;
}
.not-header {
  margin-top: 10vh;
}

.right {
  div.list-group:last-of-type {
    margin-bottom: 10%;
  }

}
.foto{
  border-radius: 50%;
}


/*ASIDE IZQUIERDO*/

.pl-10 {
  padding-left: 5% !important;
}
.pr-10 {
  padding-right: 5% !important;
}
.oscar{
  min-width: 300px;
}

.crv-encabezado{
  margin-left: 45px;
  @media (min-width: 576px) { 
    margin-left:0px;
   }
  
}
.crv-encabezadodetalle{
  font-size: 25px;
  font-weight: bold;
  @media (min-width: 576px) { 
    font-size: 20px;
   }

}
.foto{
  border-radius: 100%;
                width: 35px;
}

.aside-izquierdo
{
  $color-azul: #3b49df;  
  $color-gris: #4d5760;    
  $color-boton-azul-hover: #323ebe;

  .color-blue {
    color: $color-azul;    
  }
 

  /* inicio:  styles del la carta 1   */
  .carta-titulo {
    font-size: 1.13rem;
  }

  .carta-parrafo{
    color: $color-gris;
    font-size: 1rem;    
  }

  .btn-primary{
    background-color: $color-azul;
    border: $color-azul;
    width: 100%;       
  }

  .liga{
    display: block;    
    border-radius: 5px;
    color: $color-azul;
    margin-top: 1rem;  
    padding: 0.3rem  0;
  }
  

  a:hover {

    &.tipo-boton{
      background-color:$color-boton-azul-hover;
    }
    &.tipo-liga{
      background-color:rgba(0, 0, 0, 0.035);
    }
  }

   /* fin carta 1 aside izquierdo*/




   /* inicio carta 3 aside izquierdo */



    .popular-tags-title
    {

        font-weight: bold;
        font-size: 1.2rem;
    }


    .popular-list{

        max-height: 350px;               
        overflow-y:scroll;   

          
          a.hijo-lista-boton{
            opacity: 0%;
          }
          a.hijo-lista-boton:hover{
              opacity: 100%; 
              background-color:  $color-boton-azul-hover;

           }      

          a.hijo-lista-link{
            font-size: 1.0rem;
            color: black;        
            flex-grow: 1;
          }


          a.hijo-lista-link:hover{
            text-decoration: none;
            color: $color-boton-azul-hover; 
            /* background-color: rgba(8, 9, 10, 0.05); */

            
          }
          
          a.hijo-lista-link:hover + a {
            opacity: 100%; 
            background-color:  $color-azul;
          }


          .padre-list-items{

            display:flex;
            flex-direction: row;
            justify-content: space-between;
          }

          
          .list-group-item{

            height: 4rem;
          }

          /*
          .list-group-item:hover {
            background-color: red;
          }
          */
  
   }   /* fin de popular list*/

   /*  fin carta 3 aside izquierdo */



      /*  inicio carta 3 aside izquierdo */
      .card-formato-shop{   
       

        display: block;
        font-size: 1.4em;
        font-weight: bold;      
        color:#3b49df;   

        

      }  /*  fin carta 3 aside izquierdo */



}  /* fin del aside izquierdo*/

.oscar{
  min-width: 300px;
}

/*
.padre:hover{
  a:last-child{
    opacity: 100%;
    background-color: red ;

    :hover{
      background-color: yellow ;
    }


  }
}         
*/

