* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.left,
.center,
.right {
  height: 90vh;
}

.left {
  background-color: transparent;
}

.right .list-group-flush li:not(:first-child) {
  margin-left: 5%;
}

.right .list-group-flush li:not(:first-child):hover {
  color: blue;
}

.center {
  background-color: green;
}

.left,
.right {
  display: none;
}

.header {
  height: 10vh;
  width: 100vw;
  z-index: 100;
}

.not-header {
  margin-top: 10vh;
}

.right div.list-group:last-of-type {
  margin-bottom: 10%;
}

.foto {
  border-radius: 50%;
}

/*ASIDE IZQUIERDO*/
.pl-10 {
  padding-left: 5% !important;
}

.pr-10 {
  padding-right: 5% !important;
}

.oscar {
  min-width: 300px;
}

.crv-encabezado {
  margin-left: 45px;
}

@media (min-width: 576px) {
  .crv-encabezado {
    margin-left: 0px;
  }
}

.crv-encabezadodetalle {
  font-size: 25px;
  font-weight: bold;
}

@media (min-width: 576px) {
  .crv-encabezadodetalle {
    font-size: 20px;
  }
}

.foto {
  border-radius: 100%;
  width: 35px;
}

.aside-izquierdo {
  /* inicio:  styles del la carta 1   */
  /* fin carta 1 aside izquierdo*/
  /* inicio carta 3 aside izquierdo */
  /* fin de popular list*/
  /*  fin carta 3 aside izquierdo */
  /*  inicio carta 3 aside izquierdo */
  /*  fin carta 3 aside izquierdo */
}

.aside-izquierdo .color-blue {
  color: #3b49df;
}

.aside-izquierdo .carta-titulo {
  font-size: 1.13rem;
}

.aside-izquierdo .carta-parrafo {
  color: #4d5760;
  font-size: 1rem;
}

.aside-izquierdo .btn-primary {
  background-color: #3b49df;
  border: #3b49df;
  width: 100%;
}

.aside-izquierdo .liga {
  display: block;
  border-radius: 5px;
  color: #3b49df;
  margin-top: 1rem;
  padding: 0.3rem  0;
}

.aside-izquierdo a:hover.tipo-boton {
  background-color: #323ebe;
}

.aside-izquierdo a:hover.tipo-liga {
  background-color: rgba(0, 0, 0, 0.035);
}

.aside-izquierdo .popular-tags-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.aside-izquierdo .popular-list {
  max-height: 350px;
  overflow-y: scroll;
  /*
          .list-group-item:hover {
            background-color: red;
          }
          */
}

.aside-izquierdo .popular-list a.hijo-lista-boton {
  opacity: 0%;
}

.aside-izquierdo .popular-list a.hijo-lista-boton:hover {
  opacity: 100%;
  background-color: #323ebe;
}

.aside-izquierdo .popular-list a.hijo-lista-link {
  font-size: 1.0rem;
  color: black;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.aside-izquierdo .popular-list a.hijo-lista-link:hover {
  text-decoration: none;
  color: #323ebe;
  /* background-color: rgba(8, 9, 10, 0.05); */
}

.aside-izquierdo .popular-list a.hijo-lista-link:hover + a {
  opacity: 100%;
  background-color: #3b49df;
}

.aside-izquierdo .popular-list .padre-list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-izquierdo .popular-list .list-group-item {
  height: 4rem;
}

.aside-izquierdo .card-formato-shop {
  display: block;
  font-size: 1.4em;
  font-weight: bold;
  color: #3b49df;
}

/* fin del aside izquierdo*/
.oscar {
  min-width: 300px;
}

/*
.padre:hover{
  a:last-child{
    opacity: 100%;
    background-color: red ;

    :hover{
      background-color: yellow ;
    }


  }
}         
*/
/*# sourceMappingURL=styles.css.map */